/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0b5d3b;
  z-index: 1000;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #a8e6c3;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}


/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0b5d3b;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}


.categorias-club {
  padding: 80px 8%;
  background: #f6f8f7;
}

.categorias-club h2 {
  text-align: center;
  color: #0b5d3b;
  font-size: 32px;
  margin-bottom: 50px;
}

/* PRIMERA C */
.categoria-destacada {
  display: flex;
  gap: 40px;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  margin-bottom: 60px;
  animation: fadeUp 0.8s ease;
}

.categoria-destacada img {
  width: 50%;
  object-fit: cover;
}

.categoria-destacada .info {
  padding: 40px;
}

.categoria-destacada h3 {
  font-size: 28px;
  color: #0b5d3b;
  margin-bottom: 15px;
}

.categoria-destacada p {
  font-size: 16px;
  line-height: 1.7;
}

/* GRID OTRAS CATEGORÍAS */
.categorias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.categoria-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.categoria-card:hover {
  transform: translateY(-8px);
}

.categoria-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.categoria-card h4 {
  padding: 15px 20px 5px;
  font-size: 20px;
  color: #0b5d3b;
}

.categoria-card p {
  padding: 0 20px 20px;
  font-size: 14px;
  color: #555;
}

/* Responsive */
@media (max-width: 900px) {
  .categoria-destacada {
    flex-direction: column;
  }

  .categoria-destacada img {
    width: 100%;
    height: 260px;
  }

  .categorias-grid {
    grid-template-columns: 1fr;
  }
}

/* Animación */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
